* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.card-image,
#pickup {
  width: 9rem;
}

body {
  font-family: "Poppins", sans-serif;
  background: rgb(24, 144, 24);
}

/* Nav Styling */

header {
  background: rgb(14, 14, 14);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 5rem;
}

.logo {
  width: 2rem;
  padding: 1rem;
}

nav {
  width: 40%;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style-type: none;
  width: 80%;
  padding: 0;
}

.nav-link {
  color: #ffd700;
  text-decoration: none;
}

.active {
  border: 1px solid gold;
  padding: 0.3rem 0.5rem;
}

.title {
  color: gold;
}

.logo-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.computer {
  border-radius: 0.5rem;
  padding: 0.1rem;
}

#pickup {
  border-radius: 0.5rem;
  padding: 0.1rem;
}

.pickup {
  margin: 0 auto;
}

.playerForm {
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.computerHand {
  display: flex;
  align-items: center;
  justify-content: center;
}

.hand-name {
  text-align: center;
}
