/*Added by yours truly*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

/* Nav Styling */

header {
    background: rgb(14, 14, 14);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5rem;
}

.logo {
    color: #ffd700;
    width: 2rem;
    padding: 1rem;
}

nav {
    width: 40%;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
    width: 80%;
    padding: 0;
}

.nav-link {
    color: gold;
    text-decoration: none;
}

.active {
    border: 1px solid gold;
    padding: 0.3rem 0.5rem;
}

.title {
    color: gold;
}

.logo-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

body {
    background-image: url(/img/minimalistic-blue-poker-background-texture-co-card-symbols-64856610.jpg);
    
    align-items: center;
}

h1 {
    display: flex;
    align-items: center;
    margin-left: 25%;
}

h2 {
    display: flex;
    align-items: center;
    margin-left: 40%;
}

a {
    display: flex;
    color: yellow;
    margin-left: 47%;
    padding-top: 10%;
    font-weight: bold;
    font-size: 150%;
}